/* settings for Navbar buttons through css*/
.navbutton {
    background-color: rgb(71, 204, 71);
    box-shadow: 0.2vw 0.25vw 0.4vw 0.25vw;
    color: white;
    padding: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    font-size: calc(8px + 0.5vw);
    position: center;
    width: 10vw;
    margin: 1.5vw;
  }
  
  /*settings for when hover over nav button to turn it a bit darker*/
  .navbutton:hover {
    background-color: rgb(62, 62, 63);
    color: white;
    text-decoration: none;
  }
  
  /*background for navigation bar*/
  .navigationbar {
    background-color: rgb(111, 242, 111);
    box-shadow: 0 8px 6px -6px gray;
    padding: 2vw 1.5vw;
    width: 100%;
    text-align: center;
  }
  
  
  .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
  }